@use '@/styles/mixins/breakpoints' as *;

.root {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 1rem;
  height: var(--header-height);
  padding: 1.5rem var(--wrapper-padding);

  @include min-width(md) {
    grid-template-columns: auto 1fr;
  }
}

.brand {
  display: flex;
}

.logo__wrapper {
  display: block;
  outline-offset: 0.25rem;
  width: 4rem;
  transition: scale var(--transition);

  @include min-width(md) {
    width: 5rem;
  }

  &:hover {
    scale: 1.1;
  }
}

.shopify {
  width: 3.5rem;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font: var(--font-dm-sans-b3);
    border-left: 1px solid var(--c-brand-day-24);
    padding-left: 0.875rem;
    margin-left: 0.875rem;

    @include min-width(md) {
      padding-left: 1.125rem;
      margin-left: 1.125rem;
    }
  }
}

.desktop-nav {
  display: none;

  @include min-width(md) {
    display: block;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font: var(--font-dm-sans-b3);
  }

  &__link {
    display: block;
    padding: 0.5rem 0.75rem;
  }
}

a.desktop-nav__cta {
  font: var(--font-dm-sans-b3-m);
  margin-left: 0.75rem;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100dvh - var(--header-height));
  margin-top: var(--header-height);
  padding: 2.5rem var(--wrapper-padding);
  background-color: var(--c-brand-night);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--transition),
    visibility var(--transition);

  @include min-width(md) {
    display: none;
  }

  &--open {
    opacity: 1;
    visibility: visible;
  }

  &__animated {
    opacity: 0;
    transform: translate3d(0, 1.25rem, 0);
    will-change: opacity, transform;
  }

  &--open &__animated {
    animation: fade-slide-up var(--transition)
      calc(
        var(--transition-duration) +
          (var(--transition-index) * var(--transition-duration) * 0.75)
      )
      forwards;
  }

  &__button {
    display: block;
    border: none;
    padding: 0.5rem;

    @include min-width(md) {
      display: none;
    }
  }

  &__icon {
    width: 1.5rem;
  }

  &__list {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    font: var(--font-dm-sans-s1);
    margin: -0.5rem;
  }

  &__link {
    display: block;
    padding: 0.75rem 0.5rem;
  }

  &__cta {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--c-brand-wink);

    &__icon {
      width: 1.5rem;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: auto -0.5rem -0.5rem;
  }

  &__social {
    display: block;
    padding: 0.5rem;

    &__icon {
      width: 1.875rem;
      aspect-ratio: 1;
    }
  }
}

@keyframes fade-slide-up {
  0% {
    transform: translate3d(0, 1.25rem, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
