@use '@/styles/mixins/breakpoints' as *;

.title {
  font: var(--font-dm-sans-s1);
  text-align: center;
  margin-bottom: 3rem;

  @include min-width(md) {
    margin-bottom: 4rem;
  }
}

.items {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;

  @include min-width(md) {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;

    > :first-child {
      aspect-ratio: 1280/640;
      grid-column: 1 / -1;

      &:active {
        scale: 0.97;
      }
    }
  }
}

.cta {
  &__wrapper {
    display: grid;
    place-content: center;
    aspect-ratio: 1;
    border-radius: 1.5rem;
    transition: scale var(--transition);

    &:focus-visible {
      outline: 0.125rem solid transparent;
    }

    &:active {
      scale: 0.96;
    }

    &.theme {
      &-day,
      &-day-outline {
        background-color: var(--c-brand-day-24);
        outline-color: var(--c-brand-day);
      }

      &-night,
      &-night-outline {
        background-color: var(--c-brand-day);
        outline-offset: 0.25rem;
        outline-color: var(--c-brand-day);
      }

      &-verde {
        background-color: var(--c-brand-verde-accent);
        outline-color: var(--c-brand-verde);

        button.cta {
          border-color: var(--c-brand-verde);
        }
      }

      &-azul {
        background-color: var(--c-brand-azul-accent);
        outline-color: var(--c-brand-azul);

        button.cta {
          border-color: var(--c-brand-azul);
        }
      }

      &-wink {
        background-color: var(--c-brand-wink-accent);
        outline-color: var(--c-brand-wink);

        button.cta {
          border-color: var(--c-brand-wink);
        }
      }
    }

    @include min-width(md) {
      aspect-ratio: 632/400;
    }
  }
}
