.container {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
}

.logo {
  display: inline-flex;
  align-items: center;
  background: var(--color-white);
  box-shadow: var(--shadow);
  padding: 12px;
  border-radius: 100%;
  transition: scale var(--transition), box-shadow var(--transition);

  @media (min-width: 640px) {
    &:hover {
      box-shadow: var(--shadow-dark);
      scale: 1.1;
    }
  }
}

.icon {
  aspect-ratio: 1;
}
