@import "@/styles/mixins/_breakpoints.scss";

.root {
  background: var(--c-brand-black);
  color: var(--c-neutral-white);
  padding: 8rem 0 6rem;

  @include min-width(md) {
    padding: 16rem 0 10rem;
  }
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto;
  gap: 2rem;
  width: 100%;

  @include min-width(md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    gap: 4rem;
    align-items: center;
  }
}

.title {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 600;
  margin-bottom: 1.25rem;

  @include min-width(md) {
    font-size: 4.25rem;
    line-height: 5rem;
    margin-bottom: 2rem;
  }

  > div {
    color: var(--c-brand-gold);
  }
}

.text {
  font-size: 1.125rem;

  @include min-width(md) {
    font-size: 1.75rem;
  }
}

.form-wrapper {
  width: 100%;
  max-width: 36rem;
  margin-left: auto;

  @include min-width(md) {
    background: var(--c-neutral-white-20);
    padding: 2.25rem;
    border-radius: 0.5rem;
  }
}

.form-title {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;

  @include min-width(md) {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.form-submitted {
  color: var(--c-brand-gold);
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  input,
  button,
  textarea {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
  }

  input,
  textarea {
    padding: 0.5rem 0.75rem;
    background-color: var(--c-neutral-white-10);
  }

  textarea {
    min-height: 6rem;
  }

  button {
    background-color: var(--c-brand-gold);
    color: var(--c-brand-black);
    margin-top: 0.5rem;
    padding: 0.75rem 1rem;

    &:disabled {
      background-color: var(--c-neutral-white-20);
    }
  }

  .error {
    font-size: 0.875rem;
    margin-top: 0.125rem;
    color: red;
  }
}
