@use '@/styles/mixins/breakpoints' as *;

.root {
  position: relative;
  padding: 1rem;
  border: 2px solid var(--c-grey-light-24);
  border-radius: 1.5rem;
  aspect-ratio: 1;

  @include min-width(md) {
    aspect-ratio: 1280/640;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.article {
  pointer-events: none;
}
