@use '@/styles/mixins/breakpoints' as *;

.root {
  position: relative;
  border: 2px solid var(--c-brand-day-24);
  border-radius: 1.5rem;
  overflow: hidden;
  aspect-ratio: 1;
  transition:
    scale var(--transition),
    border-color var(--transition);

  @include min-width(md) {
    aspect-ratio: 632/400;
  }

  &:active {
    scale: 0.96;
  }

  &:hover,
  &:focus-visible {
    border-color: var(--c-brand-day-80);

    .excerpt {
      display: none;
    }

    .icon {
      width: 1rem;
      height: 1rem;
      margin-right: 0.5rem;
    }

    .view-more {
      display: block;
    }
  }
}

.article {
  height: 100%;
  pointer-events: none;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 20%,
    var(--c-brand-night-48) 75%
  );

  @include min-width(md) {
    padding: 1.25rem;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 20%,
      var(--c-brand-night-48) 100%
    );
  }

  @include min-width(lg) {
    padding: 1.5rem;
  }
}

.tag {
  display: inline-block;
  background-color: var(--c-brand-day);
  color: var(--c-brand-night);
  font: var(--font-dm-sans-b2-m);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }
}

.content {
  position: relative;
  margin-top: auto;
}

.title {
  font: var(--font-dm-sans-s4);
  margin-bottom: 0.25rem;
}

.excerpt {
  font: var(--font-dm-sans-b2);
  color: var(--c-brand-day-80);

  &__wrapper {
    display: flex;
    align-items: center;
  }
}

.icon {
  width: 0rem;
  height: 0rem;
  margin-right: 0;
  transition:
    width var(--transition),
    margin-right var(--transition);
}

.view-more {
  display: none;
  font: var(--font-dm-sans-b2-m);
  color: var(--c-brand-day);
}
