.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font: var(--font-dm-sans-b2-m);
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 9999px;
  transition:
    scale var(--transition),
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition);

  &:active {
    scale: 0.95;
  }

  &.theme {
    &-wink {
      background-color: var(--c-brand-wink);
      border-color: var(--c-brand-wink);
      color: var(--c-brand-day);

      &:hover {
        background-color: var(--c-accent-wink);
        border-color: var(--c-accent-wink);
        color: var(--c-brand-wink);
      }
    }

    &-verde {
      background-color: var(--c-brand-verde);
      border-color: var(--c-brand-verde);
      color: var(--c-brand-night);

      &:hover {
        background-color: var(--c-accent-verde);
        border-color: var(--c-accent-verde);
        color: var(--c-brand-verde);
      }
    }

    &-night {
      background-color: var(--c-brand-night);
      border-color: var(--c-brand-night);
      color: var(--c-brand-day);

      &:hover {
        background-color: var(--c-brand-day);
        border-color: var(--c-brand-day);
        color: var(--c-brand-night);
      }
    }
  }
}

.icon {
  width: 0.75rem;
}
