.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font: var(--font-dm-sans-b2-m);
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 9999px;
  transition:
    scale var(--transition),
    background-color var(--transition),
    border-color var(--transition),
    color var(--transition);

  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 0.125rem;
  }

  &:active {
    scale: 0.95;
  }

  &.theme {
    &-day {
      background-color: var(--c-brand-day);
      border-color: var(--c-brand-day);
      color: var(--c-brand-night);
      outline-color: var(--c-black);

      &:hover,
      &:focus-visible {
        background-color: var(--c-black);
        border-color: var(--c-black);
        color: var(--c-brand-day);
      }

      &-outline {
        background-color: transparent;
        border-color: var(--c-brand-day);
        color: var(--c-brand-day);
        outline-color: var(--c-brand-day);

        &:hover,
        &:focus-visible {
          background-color: var(--c-brand-day);
          border-color: var(--c-brand-day);
          color: var(--c-brand-night);
        }
      }
    }

    &-night {
      background-color: var(--c-black);
      border-color: var(--c-black);
      color: var(--c-brand-day);
      outline-color: var(--c-brand-day);

      &:hover,
      &:focus-visible {
        background-color: var(--c-brand-day);
        border-color: var(--c-brand-day);
        color: var(--c-brand-night);
      }

      &-outline {
        background-color: transparent;
        border-color: var(--c-black);
        color: var(--c-black);
        outline-color: var(--c-brand-day);

        &:hover,
        &:focus-visible {
          background-color: var(--c-black);
          border-color: var(--c-black);
          color: var(--c-brand-day);
        }
      }
    }

    &-verde {
      background-color: var(--c-brand-verde);
      border-color: var(--c-brand-verde);
      color: var(--c-brand-night);
      outline-color: var(--c-brand-verde);

      &:hover,
      &:focus-visible {
        background-color: var(--c-brand-verde-accent);
        border-color: var(--c-brand-verde-accent);
        color: var(--c-brand-verde);
      }

      &-accent {
        background-color: var(--c-brand-verde-accent);
        border-color: var(--c-brand-verde-accent);
        color: var(--c-brand-verde);
        outline-color: var(--c-brand-verde);

        &:hover,
        &:focus-visible {
          background-color: var(--c-brand-verde);
          border-color: var(--c-brand-verde);
          color: var(--c-brand-night);
        }
      }
    }

    &-azul {
      background-color: var(--c-brand-azul);
      border-color: var(--c-brand-azul);
      color: var(--c-brand-day);
      outline-color: var(--c-brand-azul);

      &:hover,
      &:focus-visible {
        background-color: var(--c-brand-azul-accent);
        border-color: var(--c-brand-azul-accent);
        color: var(--c-brand-azul);
      }

      &-accent {
        background-color: var(--c-brand-azul-accent);
        border-color: var(--c-brand-azul-accent);
        color: var(--c-brand-azul);
        outline-color: var(--c-brand-azul);

        &:hover,
        &:focus-visible {
          background-color: var(--c-brand-azul);
          border-color: var(--c-brand-azul);
          color: var(--c-brand-day);
        }
      }
    }

    &-wink {
      background-color: var(--c-brand-wink);
      border-color: var(--c-brand-wink);
      color: var(--c-brand-day);
      outline-color: var(--c-brand-wink);

      &:hover,
      &:focus-visible {
        background-color: var(--c-brand-wink-accent);
        border-color: var(--c-brand-wink-accent);
        color: var(--c-brand-wink);
      }

      &-accent {
        background-color: var(--c-brand-wink-accent);
        border-color: var(--c-brand-wink-accent);
        color: var(--c-brand-wink);
        outline-color: var(--c-brand-wink);

        &:hover,
        &:focus-visible {
          background-color: var(--c-brand-wink);
          border-color: var(--c-brand-wink);
          color: var(--c-brand-day);
        }
      }
    }
  }
}

.icon {
  width: 0.75rem;
}
