.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  padding-top: calc(var(--header-height) + 16px);
  padding-bottom: 48px;

  @media (min-width: 1024px) {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  z-index: -10;
  width: 200%;
  transform-origin: top right;
  transform: skewX(-30deg);
  background-color: var(--color-white);
  box-shadow: var(--shadow-dark);
  border-radius: 0 0 0 100px;
  border: 1px solid var(--color-off-white);
  margin-right: -288px;

  @media (min-width: 640px) {
    margin-right: -320px;
  }

  @media (min-width: 1024px) {
    margin-right: -384px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 100%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    align-items: center;
  }
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;

  > div {
    color: var(--color-primary);
  }

  @media (min-width: 1024px) {
    font-size: 56px;
    margin-bottom: 24px;
  }
}

.subtitle {
  font-size: 18px;
  color: var(--color-black);

  @media (min-width: 1024px) {
    font-size: 20px;
  }
}

.form {
  width: 100%;

  @media (min-width: 1024px) {
    max-width: 512px;
    justify-self: end;
  }
}
