@use '@/styles/mixins/breakpoints' as *;

.root {
  max-width: 56rem;
}

.title {
  font: var(--font-dm-sans-s1);
  margin-bottom: 1rem;
}

@include min-width(md) {
  .title {
    text-align: center;
  }
}

.text {
  font: var(--font-dm-sans-b2);
  margin-bottom: 2.5rem;
}

@include min-width(md) {
  .text {
    text-align: center;
    margin-bottom: 4rem;
  }
}

.item {
  box-shadow: 0 0.0625rem 0 var(--c-brand-day-24);
}

.item__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font: var(--font-dm-sans-b1);
  border: none;
  width: 100%;
  text-align: left;
  padding: 1rem 0;
}

.item__title svg {
  width: 1rem;
  height: 1rem;
}

.item__text-wrapper {
  overflow: hidden;
}

.item__text {
  font: var(--font-dm-sans-b2);
  color: var(--c-brand-day-80);
  padding-bottom: 1rem;
}
