.container {
  background: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 16px;

  padding: 24px;

  @media (min-width: 1024px) {
    padding: 36px;
  }
}

.heading {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 16px;

  @media (min-width: 1024px) {
    font-size: 32px;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    margin-bottom: 28px;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 14px;
}

.labelMessage {
  font-weight: 600;
}

.required {
  color: var(--color-error);
  margin-left: 4px;
}

.input {
  background: var(--color-slate-light);
  border-radius: 8px;
  border: none;
  padding: 8px 12px;
}

.inputMessage {
  min-height: 96px;
  max-height: 128px;

  @media (min-width: 1024px) {
    max-height: 320px;
  }
}

.button {
  position: relative;
  font-size: 14px;
  font-weight: 600;
  background: var(--color-primary);
  color: var(--color-black);
  border-radius: 8px;
  border: none;
  padding: 12px 16px;
}

.buttonState {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background: var(--color-primary);
  border-radius: 8px;
}

.formState {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  color: var(--color-white);
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;

  svg {
    fill: var(--color-white);
    width: 16px;
    aspect-ratio: 1;
    margin-top: 3px;
  }
}

.formStateError {
  background: var(--color-error);
}

.formStateSuccess {
  background: var(--color-success);
}
