@use '@/components/form/field.module' as *;

.input {
  width: 100%;
  font: var(--font-dm-sans-b2);
  font-size: 1rem !important;
  padding: 0.75rem 1rem;
  border: 1px solid var(--c-grey-dark-24);
  outline-offset: 3px;
  border-radius: 0.5rem;

  &::placeholder {
    color: var(--c-grey-dark-64);
  }
}
