@import "@/styles/mixins/_breakpoints.scss";

.root {
  display: grid;
  place-items: center;
  background: var(--c-brand-black);
  color: white;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.175em;
  font-size: 6rem;
  line-height: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;

  .highlight {
    color: var(--c-brand-gold);
  }

  @include min-width(lg) {
    font-size: 8rem;
    line-height: 6rem;
  }

  @include min-width(xl) {
    font-size: 10rem;
    line-height: 8rem;
  }
}

.text {
  max-width: 36rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
  color: #bfbfbf;

  > span {
    color: var(--c-brand-gold);
    text-shadow: 0 0 0.15rem rgba(var(--c-brand-gold-rgb), 0.5);
  }
}
