@use '@/styles/reset.scss';
@use '@/styles/variables.scss';
@use '@/styles/mixins/wrappers.scss' as *;

html {
  background-color: var(--c-brand-night);
  color: var(--c-brand-day);
  scroll-behavior: smooth;
}

body {
  position: relative;
}

body.body--no-scroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

* {
  outline-color: var(--c-brand-day);
}

.grecaptcha-badge {
  display: none !important;
}

@include wrappers;
