@use '@/styles/reset.scss';
@use '@/styles/variables.scss';
@use '@/styles/mixins/wrappers.scss' as *;
@use '@/styles/mixins/underline.scss' as *;
@use '@/styles/mixins/spacing.scss' as *;

@layer reset, base;

@layer base {
  html {
    background-color: var(--c-brand-night);
    color: var(--c-brand-day);
  }

  body {
    position: relative;
  }

  body.body--no-scroll {
    position: fixed;
    width: 100%;
    overflow: hidden;
  }

  * {
    outline-color: var(--c-brand-day);
  }

  .grecaptcha-badge {
    display: none !important;
  }

  @include wrappers;
  @include spacing;
  @include underline;
}
