@use '@/styles/mixins/breakpoints' as *;

@mixin wrapper-properties {
  position: relative;
  width: 100%;
  max-width: var(--wrapper-sizing);
  padding-left: var(--wrapper-padding);
  padding-right: var(--wrapper-padding);
  margin-left: auto;
  margin-right: auto;
}

@mixin wrappers {
  .wrapper {
    @include wrapper-properties;
  }

  @include min-width(md) {
    .wrapper--md {
      @include wrapper-properties;
    }
  }
}
