@import "@/styles/mixins/_breakpoints.scss";

.mobile-wrapper {
  position: relative;
  overflow: hidden;
  height: 16rem;
  background-color: var(--c-neutral-gray);

  @include min-width(lg) {
    display: none;
  }
}

.hero-image {
  position: absolute;
  animation: scrollBg 15s linear infinite;
  pointer-events: none;

  &--mobile {
    height: 800%;
    width: 400%;
    top: -100%;
    left: -100%;
    background-size: 400px auto;

    @keyframes scrollBg {
      0% {
        transform: rotate(-13deg) translateY(0);
      }
      100% {
        transform: rotate(-13deg) translateY(-639px);
      }
    }
  }

  &--desktop {
    display: none;

    @include min-width(lg) {
      display: block;
      height: 400%;
      width: 400%;
      top: -25%;
      left: -100%;
      background-size: 800px auto;

      @keyframes scrollBg {
        0% {
          transform: rotate(-13deg) translateY(0);
        }

        100% {
          transform: rotate(-13deg) translateY(-1278px);
        }
      }
    }
  }
}
