.root {
  background-color: var(--c-brand-azul);
  color: var(--c-brand-day);
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 4rem;
  padding: 4rem var(--wrapper-padding);
}

.col {
  &--bottom {
    font: var(--font-dm-sans-b2-m);
    border-top: 1px solid var(--c-brand-day);
    padding-top: 1.5rem;
  }
}

.logo {
  width: 4rem;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;

  &__heading {
    font: var(--font-dm-sans-b2);
    margin-bottom: 2.5rem;
  }

  &__input {
    color: var(--c-brand-night);
  }

  &__disclaimer {
    font: var(--font-dm-sans-b4);
    color: var(--c-grey-light-80);

    a {
      text-decoration: underline;
    }
  }
}

button.form__button {
  font-size: 1rem !important;
  width: 100%;
}
