@use '@/styles/mixins/breakpoints' as *;

.root {
  background-color: var(--c-brand-azul);
  color: var(--c-brand-day);
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(3, auto);
  row-gap: 4rem;
  padding: 4rem var(--wrapper-padding);

  @include min-width(md) {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 4rem;
    row-gap: 6rem;
    padding: 6rem var(--wrapper-padding);
  }

  @include min-width(lg) {
    column-gap: 8rem;
    row-gap: 8rem;
    padding: 8rem var(--wrapper-padding);
  }
}

.col {
  &--right {
    display: flex;
    gap: 5rem;

    @include min-width(md) {
      justify-content: flex-end;
      gap: 4rem;
    }

    @include min-width(lg) {
      gap: 8rem;
    }
  }

  &--bottom {
    font: var(--font-dm-sans-b2-m);
    border-top: 0.0625rem solid var(--c-brand-day);
    padding-top: 1.5rem;

    @include min-width(md) {
      grid-column: 1 / -1;
    }
  }
}

.logo__wrapper {
  display: block;
  width: 4rem;
  outline-offset: 0.25rem;
  margin-bottom: 1.5rem;
  transition: scale var(--transition);

  &:hover {
    scale: 1.1;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;

  @include min-width(md) {
    flex-direction: row;
    align-items: flex-start;
  }

  &__heading {
    font: var(--font-dm-sans-b2);
  }

  &__wrapper {
    margin-top: 2rem;

    @include min-width(md) {
      margin-top: 1.5rem;
    }
  }

  &__error,
  &__success {
    font: var(--font-dm-sans-b2);
    margin-top: -1rem;
    margin-bottom: 0.75rem;

    @include min-width(md) {
      margin-top: -0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__input {
    @include min-width(md) {
      max-width: 32rem;
    }
  }

  &__disclaimer {
    font: var(--font-dm-sans-b4);
    color: var(--c-brand-day-80);

    a {
      text-decoration: underline;
    }
  }
}

button.form__button {
  font-size: 1rem !important;
  width: 100%;

  @include min-width(md) {
    width: auto;
    margin-top: 0.25rem;
  }
}

.menu {
  &__title {
    font: var(--font-space-grotesk-s4);
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--c-brand-day-80);
  }

  &__link {
    padding: 0.375rem;
    margin: -0.375rem;
  }
}
