@use '@/styles/mixins/breakpoints' as *;

.root {
  padding: 5rem 0;
  background-color: var(--c-brand-verde);
  color: var(--c-brand-night);

  @include min-width(md) {
    padding: 10rem 0;
  }
}

.wrapper {
  display: grid;
  gap: 3rem;

  @include min-width(lg) {
    grid-template-columns: 0.9fr 1.1fr;
    gap: 6rem;
  }
}

.title {
  font: var(--font-dm-sans-s1);
  text-wrap: balance;
  margin-bottom: 1rem;
}

.text {
  font: var(--font-dm-sans-b2);
}

.item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 2.5rem;
  border-bottom: 1px solid var(--c-brand-night-24);
  padding: 0.625rem 0.5rem;

  @include min-width(md) {
    padding: 1rem;
  }

  &__title {
    font: var(--font-dm-sans-b1-m);
    margin-bottom: 0.25rem;

    @include min-width(md) {
      margin-bottom: 0.5rem;
    }
  }

  &__text {
    font: var(--font-dm-sans-b2);
  }

  &__percentage {
    font: var(--font-space-grotesk-s2);
  }
}
