@use '@/components/form/field.module';

.option {
  display: inline-block;
  font: var(--font-dm-sans-b2);
  font-size: 1rem !important;
  background-color: var(--c-brand-day);
  color: var(--c-brand-night);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  user-select: none;
  transition: background-color var(--transition);

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  &__checkbox {
    width: 0;
    height: 0;
    appearance: none;

    &:checked + .option {
      background-color: var(--c-brand-verde);
    }

    &:focus-visible + .option {
      outline: 0.125rem solid var(--c-brand-night);
      outline-offset: -0.25rem;
    }
  }
}
