@import "@/styles/mixins/_breakpoints.scss";

.root {
  background-color: var(--c-brand-black);
  color: var(--c-neutral-white);
  padding: 2rem 0;

  @include min-width(lg) {
    padding: 6rem 0;
  }

  @include min-width(xl) {
    padding: 10rem 0;
  }
}

.text-wrapper {
  text-align: center;
  margin-bottom: 1.5rem;

  @include min-width(md) {
    margin-bottom: 2.5rem;
  }
}

.title {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @include min-width(md) {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

.paragraph {
  color: var(--c-neutral-gray);

  @include min-width(md) {
    font-size: 1.125rem;
  }
}

.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  margin: 0 -1rem;
  padding: var(--wrapper-padding);

  @include min-width(md) {
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto;
  }
}

.image {
  width: 32rem;

  @include min-width(md) {
    width: 50%;
  }
}

.items {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include min-width(md) {
    width: 50%;
  }
}

.item:not(:first-child) {
  position: relative;
  padding-top: 2rem;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 1px;
    background-color: var(--c-brand-gold);
    border-radius: 0.5rem;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--c-neutral-white-10);
    border-radius: 0.5rem;
    margin-left: 2.75rem;
  }
}

.item-title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  color: var(--c-brand-gold);

  @include min-width(lg) {
    font-size: 2.25rem;
  }
}

.item-paragraph {
  @include min-width(lg) {
    font-size: 1.25rem;
  }
}
