@import "@/styles/mixins/_breakpoints.scss";

.root {
  background: var(--c-brand-black);
  color: var(--c-neutral-white);
  padding: 8.5rem 0;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @include min-width(md) {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}

.text {
  max-width: 56rem;
  margin: 0 auto;
}

.cta {
  margin-top: 2rem;
}
