@import "@/styles/mixins/_breakpoints.scss";

.root {
  background-color: var(--c-brand-black);
  color: var(--c-neutral-white);
  padding: 6rem 0;
  text-align: center;

  @include min-width(md) {
    padding: 8rem 0;
  }

  @include min-width(lg) {
    padding: 12rem 0;
  }
}

.title {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;

  @include min-width(md) {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

.paragraph {
  color: var(--c-neutral-gray);

  @include min-width(md) {
    font-size: 1.125rem;
    max-width: 52rem;
    margin: 0 auto;
  }
}
