@use '@/components/form/field.module' as *;

.textarea {
  width: 100%;
  font: var(--font-dm-sans-b2);
  font-size: 1rem !important;
  background-color: var(--c-brand-day);
  color: var(--c-brand-night);
  padding: 0.75rem 1rem;
  border: 1px solid var(--c-brand-night-24);
  outline-offset: 3px;
  border-radius: 0.5rem;
  min-height: 8rem;
  max-height: 24rem;

  &::placeholder {
    color: var(--c-brand-night-48);
  }
}
