@use 'sass:map';
@use '@/styles/mixins/breakpoints' as *;

:root {
  --wrapper-sizing: #{map.get($breakpoints, 'xl')};
  --wrapper-padding: 1rem;
  --header-height: 5.5rem;

  --c-brand-night: #1c1e20;
  --c-brand-night-24: rgba(28, 30, 32, 0.24);
  --c-brand-night-48: rgba(28, 30, 32, 0.48);
  --c-brand-night-64: rgba(28, 30, 32, 0.64);
  --c-brand-night-80: rgba(28, 30, 32, 0.8);
  --c-brand-day: #f8f8f8;
  --c-brand-day-24: rgba(248, 248, 248, 0.24);
  --c-brand-day-48: rgba(248, 248, 248, 0.48);
  --c-brand-day-64: rgba(248, 248, 248, 0.64);
  --c-brand-day-80: rgba(248, 248, 248, 0.8);
  --c-brand-verde: #c3ff47;
  --c-brand-verde-accent: #1f290b;
  --c-brand-azul: #1b9fff;
  --c-brand-azul-accent: #041929;
  --c-brand-wink: #f54891;
  --c-brand-wink-accent: #290c18;

  --c-black: #000;
  --c-white: #fff;

  --transition-duration: 0.3s;
  --transition-timing: cubic-bezier(0.5, 0.25, 0, 1);
  --transition: var(--transition-duration) var(--transition-timing);

  --font-space-grotesk-h1: 700 5rem/100% var(--font-heading);
  --font-space-grotesk-h2: 700 4rem/100% var(--font-heading);
  --font-space-grotesk-h3: 700 3.5rem/100% var(--font-heading);
  --font-space-grotesk-h4: 700 3rem/100% var(--font-heading);
  --font-space-grotesk-s1: 500 2.5rem/120% var(--font-heading);
  --font-space-grotesk-s2: 500 2rem/120% var(--font-heading);
  --font-space-grotesk-s3: 500 1.5rem/120% var(--font-heading);
  --font-space-grotesk-s4: 500 1.25rem/120% var(--font-heading);
  --font-space-grotesk-b1: 500 1rem/130% var(--font-heading);
  --font-space-grotesk-b2: 500 0.875rem/130% var(--font-heading);
  --font-space-grotesk-b3: 500 0.75rem/130% var(--font-heading);
  --font-space-grotesk-b4: 500 0.625rem/130% var(--font-heading);
  --font-dm-sans-h1: 700 5rem/100% var(--font-body);
  --font-dm-sans-h2: 700 4rem/100% var(--font-body);
  --font-dm-sans-h3: 700 3.5rem/100% var(--font-body);
  --font-dm-sans-h4: 700 3rem/100% var(--font-body);
  --font-dm-sans-s1: 500 2.5rem/120% var(--font-body);
  --font-dm-sans-s2: 500 2rem/120% var(--font-body);
  --font-dm-sans-s3: 500 1.5rem/120% var(--font-body);
  --font-dm-sans-s4: 500 1.25rem/120% var(--font-body);
  --font-dm-sans-b1: 400 1rem/130% var(--font-body);
  --font-dm-sans-b2: 400 0.875rem/130% var(--font-body);
  --font-dm-sans-b3: 400 0.75rem/130% var(--font-body);
  --font-dm-sans-b4: 400 0.625rem/130% var(--font-body);
  --font-dm-sans-b1-m: 500 1rem/130% var(--font-body);
  --font-dm-sans-b2-m: 500 0.875rem/130% var(--font-body);
  --font-dm-sans-b3-m: 500 0.75rem/130% var(--font-body);
  --font-dm-sans-b4-m: 500 0.625rem/130% var(--font-body);

  @include min-width(md) {
    --header-height: 5.375rem;

    --font-space-grotesk-h1: 700 10rem/100% var(--font-heading);
    --font-space-grotesk-h2: 700 7.5rem/100% var(--font-heading);
    --font-space-grotesk-h3: 700 5rem/100% var(--font-heading);
    --font-space-grotesk-h4: 700 4rem/100% var(--font-heading);
    --font-space-grotesk-s1: 500 3rem/120% var(--font-heading);
    --font-space-grotesk-s2: 500 2.5rem/120% var(--font-heading);
    --font-space-grotesk-s3: 500 2rem/120% var(--font-heading);
    --font-space-grotesk-s4: 500 1.5rem/120% var(--font-heading);
    --font-space-grotesk-b1: 500 1.25rem/130% var(--font-heading);
    --font-space-grotesk-b2: 500 1rem/130% var(--font-heading);
    --font-space-grotesk-b3: 500 0.875rem/130% var(--font-heading);
    --font-space-grotesk-b4: 500 0.75rem/130% var(--font-heading);
    --font-dm-sans-h1: 700 10rem/100% var(--font-body);
    --font-dm-sans-h2: 700 7.5rem/100% var(--font-body);
    --font-dm-sans-h3: 700 5rem/100% var(--font-body);
    --font-dm-sans-h4: 700 4rem/100% var(--font-body);
    --font-dm-sans-s1: 500 3rem/120% var(--font-body);
    --font-dm-sans-s2: 500 2.5rem/120% var(--font-body);
    --font-dm-sans-s3: 500 2rem/120% var(--font-body);
    --font-dm-sans-s4: 500 1.5rem/120% var(--font-body);
    --font-dm-sans-b1: 400 1.25rem/130% var(--font-body);
    --font-dm-sans-b2: 400 1rem/130% var(--font-body);
    --font-dm-sans-b3: 400 0.875rem/130% var(--font-body);
    --font-dm-sans-b4: 400 0.75rem/130% var(--font-body);
    --font-dm-sans-b1-m: 500 1.25rem/130% var(--font-body);
    --font-dm-sans-b2-m: 500 1rem/130% var(--font-body);
    --font-dm-sans-b3-m: 500 0.875rem/130% var(--font-body);
    --font-dm-sans-b4-m: 500 0.75rem/130% var(--font-body);
  }
}
