@use '@/styles/mixins/breakpoints' as *;

.root {
  display: grid;
  gap: 3rem;

  @include min-width(lg) {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }
}

.image {
  aspect-ratio: 1;
  object-fit: cover;

  &__wrapper {
    max-width: 36rem;
    margin: 0 auto;

    @include min-width(lg) {
      max-width: 100%;
      order: 1;
    }
  }
}

.content {
  scroll-margin-top: 1.5rem;

  @include min-width(lg) {
    scroll-margin-top: 2.5rem;
  }
}

.title {
  font: var(--font-dm-sans-s1);
  text-wrap: balance;
  margin-bottom: 1rem;
}

.text {
  font: var(--font-dm-sans-b2);
  margin-bottom: 2.5rem;
}
