@use '@/styles/mixins/breakpoints' as *;

$spacing: max(
  var(--wrapper-padding),
  calc((100vw - var(--wrapper-sizing) + var(--wrapper-padding) * 2) / 2)
);

.root {
  color: var(--c-grey-light-80);
  margin: 2.5rem auto;
  overflow: hidden;

  @include min-width(md) {
    margin: 5rem auto;
  }
}

.title {
  font: var(--font-dm-sans-b2);
  margin-bottom: 1rem;
}

.slider {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 $spacing;
  scrollbar-width: none;

  // once
  animation: bounce calc(var(--transition-duration) * 2)
    var(--transition-timing) 1 forwards;

  &::-webkit-scrollbar {
    display: none;
  }

  @include min-width(md) {
    gap: 3rem;
    animation: none;
  }
}

.slide {
  scroll-snap-align: start;
  height: 1.5rem;

  @include min-width(md) {
    height: 2rem;
  }

  &:first-child {
    margin-left: $spacing;
  }

  &:last-child {
    margin-right: $spacing;
  }

  &__icon {
    width: auto;
    height: 100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}
